{{!< default}}
<div class="spilled">
	<div class="container">
		<div class="slogan">
			<h1>"Sweet, Nutritious and Delicious"</h1>
			<p>The key to happiness is building with <strong>Swift</strong></p>

			<div class="slogan-image">
				<img src="/images/swift.how-birds@3x.png" alt="" />
			</div>
		</div>
	</div>
</div>

<div class="canary-cards container">
	{{#if todayLink}}
	<h2>Today Recommendation</h2>

	<div class="mdl-grid">
		<div class="canary-card canary-link-card mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
		  {{#if todayLink.image}}
		  <div class="mdl-card__media canary-link-image">
			<img src="{{todayLink.image}}">
		  </div>
		  {{/if}}
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">{{todayLink.name}}</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">{{todayLink.description}}</span>
		  </div>
		  <div class="mdl-card__actions">
			 <a class="android-link mdl-button mdl-js-button mdl-button--primary" href="/link/{{date todayLink.created format="YYYY/MM/DD"}}/{{todayLink.urlName}}?id={{todayLink.id}}">
			   See Detail!
			 </a>
		  </div>
		</div>
	</div>
	{{/if}}

	<h2>Learn more from Swift.How</h2>

	<div class="mdl-grid">
		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-links.png">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">One link one day</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">
				We collect one useful link one day about the swift languange. The link can be an article, an introduction or another collection list reference.
			</span>
		  </div>
		  <div class="mdl-card__actions">
			<a class="mdl-button mdl-js-button mdl-button--primary" href="/link">
				Take a look!
			</a>
		  </div>
		</div>

		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-apps.png">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">One app one day</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">
				We collect one awesome ios or osx app per day for explan more about the open source frameworks in use. We wanna focus on the development and design of these apps.
			</span>
		  </div>
		  <div class="mdl-card__actions">
			<a class="mdl-button mdl-js-button" disabled>
				Comming Soon!
			</a>
		  </div>
		</div>

		<div class="canary-card mdl-cell mdl-card mdl-cell--4-col mdl-shadow--2dp">
		  <div class="mdl-card__media">
			<img src="/images/card-tutorial.png">
		  </div>
		  <div class="mdl-card__title">
			 <h4 class="mdl-card__title-text">Step by step tutorials</h4>
		  </div>
		  <div class="mdl-card__supporting-text">
			<span class="mdl-typography--font-light mdl-typography--subhead">
				We are working on our own app, and we want to show you all the building progress step by step. Join us is better, because all the apps are open source.
			</span>
		  </div>
		  <div class="mdl-card__actions">
			<a class="mdl-button mdl-js-button" disabled>
				Comming Soon!
			</a>
		  </div>
		</div>
	</div>

	<h2>Latest blog</h2>

	<div class="mdl-grid">
		<div class="canary-card mdl-cell mdl-card mdl-cell--12-col mdl-shadow--2dp">
			<div id="article-loading" class="canary-progress-wrap">
				<div class="canary-progress mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
			</div>
			<div id="article" class="article"></div>
		</div>
	</div>
</div>
