<div class="container canary-news">
	<h1>News</h1>

    {{#if news.length}}
    <ul>
        {{#each news}}
            {{#ifeq behavior 'newLink'}}
            <li>
            New Link: <strong>{{link.name}}</strong> has been added at {{date link.created format="YYYY/MM/DD hh:mm"}}.
            <a class="canary-jump" href="/link/{{date link.created format="YYYY/MM/DD"}}/{{link.urlName}}?id={{link.id}}">See Detail.</a>
            </li>
            {{/ifeq}}
        {{/each}}
    </ul>
    {{/if}}

</div>
